.extra-tools a {cursor: pointer!important;}
.image-inline, .imgur-album {margin-left: 46px!important;}
.expando-button {background-image: url('chrome-extension://__MSG_@@extension_id__/expando.png')!important;background-repeat: no-repeat!important;background-size: 95px 95px!important;cursor: pointer!important;}
.expando-button.collapsed.video {background-position: -24px 0px!important;}
.expando-button.collapsed.video:hover {background-position: -24px -24px!important;}
.expando-button.expanded.video {background-position: -24px -48px!important;}
.expando-button.expanded.video:hover {background-position: -24px -72px!important;}
.expando-button.collapsed.selftext {background-position: 0px 0px!important;}
.expando-button.collapsed.selftext:hover {background-position: 0px -24px!important;}
.expando-button.expanded.selftext {background-position: 0px -48px!important;}
.expando-button.expanded.selftext:hover {background-position: 0px -72px!important;}
.expando-button.collapsed.selfimage {background-position: -48px 0px!important;}
.expando-button.collapsed.selfimage:hover {background-position: -48px -24px!important;}
.expando-button.expanded.selfimage {background-position: -48px -48px!important;}
.expando-button.expanded.selfimage:hover {background-position: -48px -72px!important;}
.expando-button.collapsed.galleryimages {background-position: -72px 0px!important;}
.expando-button.collapsed.galleryimages:hover {background-position: -72px -24px!important;}
.expando-button.expanded.galleryimages {background-position: -72px -48px!important;}
.expando-button.expanded.galleryimages:hover {background-position: -72px -72px!important;}